<html>
    <head>
        <title>{{ title }} - Recetacas </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"″ />
	</head>
	<body>
	    <h1>{{ anchor(site_url(), 'Recetacas', 'title="home"') | raw }}</h1>
	    <ul>
			<li><a href="{{ site_url() }}" title="Home">Home</a></li>
			<li><a href="{{ site_url() }}recetas" title="Lista de recetas">Recetas</a></li>
			<li><a href="{{ site_url() }}about" title="About">About</a></li>
		</ul>
	    <hr>