{% include 'templates/header.twig' %}

<div class="container">

	<h2>Lista de Recetas</h2>
	<div class="accordion" id="accordion2">
	{% for recetas_item in recetas %}
		<div class="accordion-group">
			<div class="accordion-heading">
				<h3 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ recetas_item.id }}">{{ recetas_item.nombre }}</h3>
			</div>
			<div id="collapse{{ recetas_item.id }}" class="accordion-body collapse">
				<div class="accordion-inner">
					<p>{{ recetas_item.desc_corta }}</p>
		    		<p><a href="{{ current_url() ~ '/' ~ recetas_item.slug }}">Ver receta</a></p>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>

	{% include 'templates/footer.twig' %}